*.v2

*.suo

*.exe

*.cache

*.info

*.bin

*.txt

*.props

*.targets

*.dll

*.pdb
/.vs/ZavodSocialNetwork/FileContentIndex/3ba91377-83ed-40e5-af03-8f6075ee6a1c.vsidx
/.vs/ZavodSocialNetwork/FileContentIndex/2fefb4da-4a90-4cc1-a09e-0c7fde50f819.vsidx
/.vs/ZavodSocialNetwork/FileContentIndex/164cae26-1acd-4568-86b3-f8277b4716a7.vsidx
