$main_font: Helvetica, sans-serif;
$header_color: #870e48;
$button_color: #c23131;

header{
  //background-image: url("https://w7.pngwing.com/pngs/128/974/png-transparent-chesapeake-blue-crab-free-content-dead-crab-s-crustacean-smiley-cartoon.png");
  margin: 0;
  font-family: $main_font;
  color: white;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 9999;
  background: rgb(4, 10, 21);
  min-height: 10.5vh;
  border-bottom: 2px solid black;
}

a {
  color: white;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  transition: 500ms;
  cursor: pointer;
}
.header_button{
  background: #415675;
  height: 4vh;
  width: 10vw;
  border: 1px solid black;
}
.header_button:hover{
  background: #283973;
}
.button_container{
  display: flex;
  justify-content: space-between;
  width: 32vw;
}
.big_container{
  display: flex;
  justify-content: space-between;
}
.reg_log_container{
  display: flex;
  justify-content: space-between;
  width: 10vw;
}
  