$header_color: #870e48;
$button_color: #c23131;

header{
  //background-image: url("https://w7.pngwing.com/pngs/128/974/png-transparent-chesapeake-blue-crab-free-content-dead-crab-s-crustacean-smiley-cartoon.png");
  margin: 0;
  color: white;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 9999;
  background: rgb(38,47,54);
  min-height: 10.5vh;
  div.sub_div{
    padding: 1.4vh 1.4vw 0.5vh;
  }
  h1 {
    border: 1.5px solid #2F3036;
  }
  div.button_container{
    padding-top: 0.6vh;
    padding-left: 0.7vw;
    padding-bottom: 1vh;
  }
  div.logo{
    width: 34em;
  }
}

a {
  color: white;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  transition: 500ms;
  cursor: pointer;
}
.header_button{
  background: #415675;
  height: 4vh;
  width: 10vw;
  border: 1px solid black;
}
.header_button:hover{
  background: #283973;
}
.button_container#common_buttons{
  display: flex;
  justify-content: space-between;
  width: 32vw;
}
.button_container#signed_out{
  display: flex;
  float: right;
}
.button_container#reg_log{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 21.4vw;
}
.big_container{
  display: flex;
  justify-content: space-between;
}
.reg_log_container{
  display: flex;
  justify-content: space-between;
  width: 10vw;
}

  